body{
    background-color: #efefef;
}
.publish_div_left{
    border-right: 1px solid silver;
}
.main{
    background-color: white;
    margin: 40px;
    padding-top: 25px;
}
.p_fq{
    border-bottom: 1px solid silver;
    font-size: 25px;
}
.publish_div_right p{
    line-height: 150%;
    margin-top: 10px;
}
.publish-btn-fq{
   float: right;
    margin-right: 30px;
}
.publish-error{
    color: #b92c28;
}
.avatar-img{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question-navigation{
    float: right;
}
.majiang-tool{
    color: #999;
    font-size: 13px;
}
span .majiang-tool{
    padding-top: 0px;
}
