<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>码匠社区</title>
    <script type="text/javascript" src="/Jquery/jquery-1.12.4.js" language="JavaScript"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link type="text/css" href="/css/majiang.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

</body>
</html>