<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>码匠社区</title>
    <script type="text/javascript" src="/Jquery/jquery-1.12.4.js" language="JavaScript"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link type="text/css" href="/css/majiang.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-9  publish_div_left">
            <p class="p_fq"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><b>发现</b></p>
            <span th:each="questionDto:${pageInfo.list}">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object avatar-img" th:src="${questionDto.avatarUrl}" alt="头像">
                    </a>
                </div>
                <div class="media-body" >
                    <a th:href="'/question/'+${questionDto.getId()}"><h4 class="media-heading" th:text="${questionDto.getTitle()}"></h4></a>
                    <span th:text="${questionDto.getDescription()}"></span><br>
                    <span class="text-desc">
                        <span th:text="${questionDto.getCommentCount()}"></span> 个回复 •
                        <span th:text="${questionDto.getViewCount()}"></span>次浏览 •
                        <span th:text="${#dates.format(questionDto.getGemModified(),'yyyy-MM-dd HH:mm:SS')}"></span>
                    </span>
                </div>
            </div>
            </span>
            <nav aria-label="Page navigation" class="question-navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${pageInfo.getNavigatepageNums()}"><a href="#" th:text="${page}"></a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-3 publish_div_right">
            <h2>热点话题</h2>
            <p> • 问题标题: 请用精简的语言描述您发布的问题，不超过25字</p>
            <p> • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料</p>
            <p> • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</p>
        </div>
    </div>
</div>
</body>
</html>