<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>码匠社区</title>
    <script type="text/javascript" src="/Jquery/jquery-1.12.4.js" language="JavaScript"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link type="text/css" href="/css/majiang.css" rel="stylesheet">
    <script type="text/javascript" src="/js/community.js" language="JavaScript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div><br>
<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-9  publish_div_left" th:if="${questionDto != null}">
            <h3 th:text="${questionDto.getTitle()}"></h3>
            <div class="text-desc">
                <span th:text="${questionDto.getCommentCount()}"></span> 个回复 •
                <span th:text="${questionDto.getViewCount()}"></span>次浏览 •
                <span th:text="${#dates.format(questionDto.getGemModified(),'yyyy-MM-dd HH:mm:SS')}"></span>
            </div>
            <div>desc<hr></div>
            <div>
                <div  th:text="${questionDto.getDescription()}"></div>
                <hr>
            </div>
            <div class="label label-info ；" th:each="tag:${questionDto.getTag().split(',')}">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <span th:text="${tag}"></span>
            </div>
            <div>
                <hr style="margin-bottom: 0;">
                <div th:if="${questionDto.getCreator()==session.user.id}" class="majiang-tool tool">
                    <a th:href="'/editQuestion/'+${questionDto.getId()}">
                        <span class="glyphicon glyphicon-pencil"></span>编辑
                    </a>
                </div>
                <div><span th:text="${questionDto.getCommentCount()}" id="commentCount"></span>个评论</div>
<!--                <hr style="margin-top: 0;">-->
            </div>
            <div class="comment-area">
            <span th:if="${commentDtos != null}">
                <div th:each="commentDto:${commentDtos}" class="comment">
                    <div class="media">
                        <div class="media-left media-middle">
                           <a href="#">
                                <img class="media-object avatar-img" th:src="${commentDto.getAvatarUrl()}" alt="头像">
                            </a>
                        </div>
                        <div class="media-body" >
                            <a href=""><h4 class="media-heading" th:text="${commentDto.getName()}"></h4></a>
                            <span th:text="${commentDto.getContent().trim()}"></span>
                        </div>
                    </div>
                    <div class="menu">
                        <span class="comment-icon"><span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span><span th:text="${commentDto.getLikeCount()}"></span></span>
                        <span class="glyphicon glyphicon-comment comment-icon" aria-hidden="true" th:data-id="${commentDto.getId()}" onclick="controllerCollapse(this)" th:data-collapse="1"></span>
                        <span class="pull-right" th:text="${#dates.format(commentDto.getGemModified(),'yyyy-MM-dd')}"></span>
                    </div>
                    <div class="collapse sun-comment-area" th:id="'comment-'+${commentDto.getId()}">
                        <div id="comment-div"></div>
                        <div class="input-comment">
                            <input type="text" class="form-control" th:name="'sunCommentContent-'+${commentDto.getId()}" placeholder="评论一下。。。。">
                            <button class="publish-btn-fq btn btn-success btn-sm" th:data-parentCommentId="${commentDto.getId()}"
                                    onclick="submitSunComment(this)">提交</button>
                        </div>
                    </div>
                </div>
            </span>
            </div>
            <div id="comment-area">
                <div>
                    <img class="avatar-img" th:src="${questionDto.avatarUrl}" alt="头像">
                    <b th:text="${questionDto.getCreatorName()}"></b>
                </div>
                <input type="hidden" name="parentId" th:value="${questionDto.id}">
                <input type="hidden" name="type" value="1">
                <textarea name="content" class="form-control comment-textarea" cols="30" rows="10"></textarea>
                <utton class="publish-btn-fq btn btn-success" onclick="submitComment()">提交</utton>
            </div>
        </div>

        <div class="col-sm-3 publish_div_right">
            <div><h2>发起人</h2></div>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object avatar-img" th:src="${questionDto.avatarUrl}" alt="头像">
                    </a>
                </div>
                <div class="media-body" >
                    <h5 class="media-centre"><span th:text="${questionDto.getCreatorName()}"></span></h5>
                </div>
            </div>
            <hr>
            <div>
                <h2>相关问题</h2>
                <ul class="question-li">
                    <span th:if = "${questionLikes != null}">
                        <li th:each="question:${questionLikes}">
                            <a th:href="'/question/'+${question.getId()}" th:text="${question.getTitle()}"></a>
                        </li>
                    </span>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>